@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&display=swap');


/* Body */


body{
    font-family: 'Brygada 1918', serif !important;
    margin: 0;
    padding: 0;
    width: 100%;
  
}

html{
    scroll-behavior: smooth;
}



/* NAV */







header{
    position: relative;
    z-index: 10;
}
nav ol{
    padding-top:2px;
}

header{
    position: relative;
}
header nav{
    position: absolute !important;
    width: 100% !important;
    background-color: rgba(0,0,0,0);
}

header nav li a{
    color: #fff !important;
}

.navbar-brand img{
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.actives{
    color: #03e9f4 !important;
}
.dropdown-menu{
    background: none !important;
    border:0 !important;

}
.dropdown-item:hover{
background: none !important;
}
.dropdown-item{
    padding:7px !important;
}
.navbar-nav .nav-item{
    margin: 0 5px;
}

nav a{
    color: grey;
}

.nav-link{
    text-decoration: none;
    position:relative;
   
}
.nav-link:hover{

    transition-duration: 0.3s;
    color: #03e9f4 !important;
}
.containerFluid{
    width: 86% !important;
    margin: 0 auto;
    display: flex;
}
.navbar-nav .nav-item{
    margin: 0 5px;
}

.navbar-dark .navbar-toggler{
    border:none;
}





/* Заднйи фон о нас здание */





.LightBanner{
    background: url('../img/Новая папка/about.jpg') center / cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;

}

.LightBanner:before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    left:0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}

.bannerCenterContent{
    width: 95%;
    z-index: 4;
    position: relative;
    margin:  auto;
    height: 80%;
    display: flex;
    align-items: center;
}
.bannerText{
    margin-top: 100px;
}
.bannerText h1 {
    text-transform: uppercase;
    color: white;
    font-size:50px !important;
    
}
.firstComp{
    margin-top: 50px;
    margin-left: 50px;
    border-left: 5px solid white;
    padding-left: 20px;
}
.firstComp h1{
    color: #03e9f4;
}

.onasCenter{
    width: 80%;
    margin: auto;
}
.textO h1{
    text-align: center;
    font-size:60px;
    margin-top: 50px;
    border-bottom: 2px solid #03e9f4;
}
.textO .text{
    margin-top: 50px;
}









/* Миссияя блок*/





.centerMission{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.inlineMission{
    display: flex;
    justify-content: space-between;
}
.nas h1{
    font-size: 60px;
}
.nas{
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
}
.vidos{
    text-align: center;
    margin-top: 50px;
}
.textM h1{
    font-size: 60px !important;
    text-transform: uppercase;
}
.buss img{
    width: 700px; 
    border-radius: 100%;
    transition: 0.4s;
}
.buss img:hover{
    transform: scale(1.3);
    transition: 0.4s;

}

.Lorem{
    margin-top: 30px;
}









/* goal */







.centerGoal{
    width: 90%;
    margin: auto;
    margin-top: 100px !important;
    position: relative;
}

.inlineGoal{
    display: flex;
    
}
.scale img{
    border-radius: 50px;
}
.rightText {
    padding: 40px;
}
.rightText h1{
    font-size: 60px;
}
.scale img:hover{
    transform: scale(1.3);
    transition: 1s;

}
.scale img{
    transition: 1s;
}

.scale{
    overflow: hidden;
    border-radius: 50px;
}






/* Ценности гибкость - качество блок */





.cennoctCenter{
    width: 95%;
    margin:  auto;
    margin-top: 50px;
  
}
.cenInline{
    display: flex;
    flex-wrap: wrap;
  
    justify-content: center;
    align-items: center;
}

.cenInline .cart{
    width:300px;
    height: 320px;
    text-align: center;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    transition: 0.7s;
}
.cenInline .cart:hover{
    background-color:#f9004d ;
    transition: 0.7s;
    color: white ;

}
.cenInline .cart:hover p{
    color: white;
}
.cart p{
    color: grey;
    font-size: 18px;
}
.cenInline .cart:hover i{   
    transition: 0.7s;
    color: white;
}
.cart i{
    font-size: 55px;
    color: #f9004d;
    margin-bottom: 10px;
}
.cart h1{
    font-weight: lighter;
    margin-bottom: 10px;
}
.cenT h1{
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
}










/* BannerFoot  3д карточки*/






.bannerFoot{
    margin-top: 150px;
}

.backFon{
    background: url('/img/Новая папка/about.jpg') bottom / cover;
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    position: relative;
   
  
}
.backFon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.parent a{
    color: black !important;
}
.parent{
    transform-style: preserve-3d;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}
.parent .cards{
    position: relative;
    width: 350px;
    height: 300px;
    margin: 0 30px;
    margin-top: 120px;
    border-radius: 50px;
    transform-style: preserve-3d;
}
.parent .cards .imgbx{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.parent .cards .imgbx img{     
   
    border-radius: 20px;
    width: 100%;
}
.contentbox{
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    background-color: white;
    transform: translate(20px) scaleX(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.5s;
    transform-style: preserve-3d;
}
.cards:hover{
    box-shadow: 0 20px  20px white;
}

.cards:hover .contentbox{
    transform: translateZ(20px) scaleY(1);
}




 

/* 
    FOOOTER

*/








.centerFooter{
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
}


.foot{
    display: flex;
    justify-content: center;
}
.foot ol{
    list-style: none;
}
.foot ol li a{
    color: black;
    text-decoration: none;
    font-weight: 300;
}
.foot a:hover{
    color:  #03e9f4;
}
.foot ol li{
    margin: 10px 0;
}
.foot ol b{
    font-size: 20px;
}
.polit{
    display: flex;
    justify-content: space-around;
}
.polit ol{
    display: flex;
}
.polit ul{
    list-style: none;
    font-size: 20px;
}
.polit ol li{

    list-style: none;
    margin: 0 20px;
}
.polit ol li a{
    color: black;
    text-decoration: none;
}
.polit .icons a:hover{
    color:  #03e9f4;
}
.bolds{
    font-weight: bolder !important;
}

.polit .icons{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.polit .icons li{
    margin: 0 10px !important;
    font-size: 35px;
}
.polit .icons li a{
    color: black;
}

.polit .osoo{
    padding-top: 15px;
}













































































/* MEDIA ADAPTIVE */




/* NAV */




@media (max-width:1256px){
    .navbar-nav .nav-item{
        margin: 0 0px;
    }
    
}


@media (max-width:1199px){
    .containerFluid{
        width: 86% !important;
        margin: 0 auto;
        display: flex;
    }
    .navbar-nav .nav-item{
        margin: 0 -2px;
    }
}




@media (max-width:1110px){
    .navbar-nav .nav-item{
        margin: 0 1px;
    }
    .nav-link span{
        display: none;
    }
}


@media (max-width:1008px){
    .navbar-nav .nav-item{
        margin: 0 -2px;
    }

}

@media (max-width:991px){
    .containerFluid{
        width: 100% !important;
        margin: 0 auto;
        display: flex ;
    }
}

@media (max-width:320px){
    .collapse{
        background: rgba(0,0,0,.9);
        padding: 25px;
        transition: 0.5s;
        width: 100%;
    }
    .collapse ol li a span{
        display: block;
    }
    .collapse ol li .tel{
        display: flex;
    }

    .navbar-dark .navbar-toggler{
        border:none;
    }
}

@media (max-width:991px){
     .collapse{
        background: rgba(0,0,0,.9);
        padding: 25px;
        transition: 0.5s;
        width: 100%;
    }
    .collapse ol li a span{
        display: block;
    }
    .collapse ol li .tel{
        display: flex;
    }
}


