@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&display=swap');


/* Body */


body{
    font-family: 'Brygada 1918', serif !important;
    margin: 0;
    padding: 0;
    width: 100%;
  
}

html{
    scroll-behavior: smooth;
}



/* NAV */







header{
    position: relative;
    z-index: 10;
}
nav ol{
    padding-top:2px;
}

header{
    position: relative;
}
header nav{
    position: absolute !important;
    width: 100% !important;
    background-color: rgba(0,0,0,0);
}

header nav li a{
    color: #fff !important;
}

.navbar-brand img{
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.actives{
    color: #03e9f4 !important;
}
.dropdown-menu{
    background: none !important;
    border:0 !important;

}
.dropdown-item:hover{
background: none !important;
}
.dropdown-item{
    padding:7px !important;
}
.navbar-nav .nav-item{
    margin: 0 0;
}

nav a{
    color: grey;
}

.nav-link{
    text-decoration: none;
    position:relative;
   
}
.nav-link:hover{

    transition-duration: 0.3s;
    color: #03e9f4 !important;
}
.containerFluid{
    width: 86% !important;
    margin: 0 auto;
    display: flex;
}


.navbar-dark .navbar-toggler{
    border:none;
}





/* Заднйи фон о нас здание */





.LightBanner{
    background: url('../img/Новая папка/О нас/about.jpg') center / cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;

}

.LightBanner:before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    left:0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}

.bannerCenterAbout{
    width: 95%;
    z-index: 4;
    position: relative;
    margin:  auto;
    height: 80%;
    display: flex;
    align-items: center;
}
.bannerAbout{
    margin-top: 100px;
}
.bannerAbout h1 {
    text-transform: uppercase;
    color: white;
    font-size:50px !important;
    
}
.firstAbout{
    margin-top: 50px;
    margin-left: 50px;
    border-left: 5px solid white;
    padding-left: 20px;
}
.firstAbout h1{
    color: #03e9f4;
}
















/* ABOUT */






.onasCenter{
    width: 60%;
    margin: auto;
}
.textO h1{
    text-align: left;
    font-size:40px;
    margin-top: 50px;
}
.textO .text{
    margin-top: 50px;
    
}
.textO .text p{
    color: #767676 !important;
    font-size: 20px;
}
.textO .TextWithDate{
    color: #767676;
    font-style: italic;
}

.border-left{
    border-left: 3px solid #03e9f4;
    padding-left: 20px;
}







/* Миссияя блок*/





.centerMission{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.inlineMission{
    display: flex;
    justify-content: space-between;
}
.nas h1{
    font-size: 60px;
}
.nas{
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
}
.vidos{
    text-align: center;
    margin-top: 50px;
}
.textM{
    padding-top: 40px;
}
.textM h1{
    font-size: 60px !important;
    text-transform: uppercase;
}
.textM p{
    color: #767676;
    font-size: 20px;
}
.buss img{
    width: 600px; 
    border-radius: 100%;
    transition: 0.4s;
}
.buss img:hover{
    transform: scale(1.3);
    transition: 0.4s;

}

.Lorem{
    margin-top: 30px;
}









/* goal */







.centerGoal{
    width: 100%;
    margin: auto;
    margin-top: 100px !important;
    position: relative;
}


.scale {
    background: url('../img/Новая папка/О нас/mans.jpg') center / cover;
    width: 100%;
    height: 400px;
    transition: 1s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.scale:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    transition: 1s;
    transition-delay: 1s;
}
.scale:hover::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.1);
    transform: skew(-100deg);
    transition: .3s;
    transition-duration: 1s;
    z-index: 5;
}
.leftImg{
    overflow: hidden;
}
.goalText {
    padding:90px;
    color: white;
    z-index: 10;
}
.goalText h1{
    font-size: 60px;
}
.goalText p{
    font-size:20px;
}
.scale:hover{
    transform: scale(1.2);
    transition:1s;

}
.scale:hover .goalText{
    color: white;
}












/* Ценности гибкость - качество блок */













.cennoctCenter{
    width: 95%;
    margin:  auto;
    margin-top: 50px;
  
}
.cenInline{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cenInline .cart{
    width:300px;
    height: 320px;
    text-align: center;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px 20px;
    transition: 0.7s;
    background-color:rgba(0,0,0,0.8) ;
}
.cenInline .cart:hover{
    transition: 0.7s;
    color: white !important;

}

.cart p{
    color: grey;
    font-size: 18px;
}
.cenInline .cart:hover i{   
    transition: 0.7s;
    color: white;
}
.cenInline .cart:hover p{   
    transition: 0.7s;
    color: white;
}
.cart i{
    font-size: 55px;
    color: #767676;
    margin-bottom: 10px;
}
.cart h1{
    font-weight: lighter;
    margin-bottom: 10px;
}
.cenT h1{
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
}















 

/* 
    FOOOTER

*/








.centerFooter{
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
}


.foot{
    display: flex;
    justify-content: center;
}
.foot ol{
    list-style: none;
}
.foot ol li a{
    color: black;
    text-decoration: none;
    font-weight: 300;
}
.foot a:hover{
    color:  #03e9f4;
}
.foot ol li{
    margin: 10px 0;
}
.foot ol b{
    font-size: 20px;
}
.polit{
    display: flex;
    justify-content: space-around;
}
.polit ol{
    display: flex;
}
.polit ul{
    list-style: none;
    font-size: 20px;
}
.polit ol li{

    list-style: none;
    margin: 0 20px;
}
.polit ol li a{
    color: black;
    text-decoration: none;
}
.polit .icons a:hover{
    color:  #03e9f4;
}
.bolds{
    font-weight: bolder !important;
}

.polit .icons{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.polit .icons li{
    margin: 0 10px !important;
    font-size: 35px;
}
.polit .icons li a{
    color: black;
}

.polit .osoo{
    padding-top: 15px;
}













































































/* MEDIA ADAPTIVE */




/* NAV */




@media (max-width:1256px){
    .navbar-nav .nav-item{
        margin: 0 0px;
    }
    
}


@media (max-width:1199px){
    .containerFluid{
        width: 86% !important;
        margin: 0 auto;
        display: flex;
    }
    .navbar-nav .nav-item{
        margin: 0 -2px;
    }
}




@media (max-width:1110px){
    .navbar-nav .nav-item{
        margin: 0 1px;
    }
    .nav-link span{
        display: none;
    }
}


@media (max-width:1008px){
    .navbar-nav .nav-item{
        margin: 0 -2px;
    }

}

@media (max-width:991px){
    .containerFluid{
        width: 100% !important;
        margin: 0 auto;
        display: flex ;
    }
}

@media (max-width:320px){
    .collapse{
        background: rgba(0,0,0,.9);
        padding: 25px;
        transition: 0.5s;
        width: 100%;
    }
    .collapse ol li a span{
        display: block;
    }
    .collapse ol li .tel{
        display: flex;
    }

    .navbar-dark .navbar-toggler{
        border:none;
    }
}

@media (max-width:991px){
     .collapse{
        background: rgba(0,0,0,.9);
        padding: 25px;
        transition: 0.5s;
        width: 100%;
    }
    .collapse ol li a span{
        display: block;
    }
    .collapse ol li .tel{
        display: flex;
    }
}

















/* BANNER */









@media (max-width:1223px){
    .bannerCenterAbout{
        width: 90%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center;
    }
    .bannerAbout{
        margin-top: 100px;
    }
    .bannerAbout h1 {
        text-transform: uppercase;

        font-size:40px !important;
        
    }
}


@media (max-width:1068px){
    .bannerAbout h1{
        font-size: 30px !important;
    }
}



@media (max-width:807px){
    .bannerAbout h1{
        font-size: 25px !important;
    }
}




@media (max-width:854px){
    .bannerCenterAbout{
        width: 90%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center;
        
    }
    .bannerAbout h1{
        font-size: 20px !important;
    }

}
















@media (max-width:565px){
    .bannerAbout h1{
        font-size: 36px !important;
    }
    .firstAbout h1{
        font-size: 17px !important;
    }


}



@media (max-width:417px){
    .bannerAbout h1{
        font-size:25px !important;
    }
    .firstAbout h1{
        font-size: 17px !important;
    }
    .firstAbout{
        margin-top:     30px;
        margin-left: 20px;
        border-left: 5px solid white;
        padding-left: 10px;
    }
  
}




@media (max-width:406px){
    .bannerAbout h1{
        font-size:25px !important;
    }
    .firstAbout h1{
        font-size: 15px !important;
    }
}



@media (max-width:401px){
    .bannerAbout h1{
        font-size:25px !important;
    }
    .firstAbout h1{
        font-size: 13px !important;
    }
}


@media (max-width:353px){
    .bannerAbout h1{
        font-size:23px !important;
    }
    .firstAbout h1{
        font-size: 20px !important;
        width: 200px;

    }
    .firstAbout{
        margin-left: 5px;
        padding-left: 2px;
    }

  
}











/* ABOUT */





@media (max-width:580px){

.onasCenter{
    width: 80%;
    margin: auto;
}
.textO h1{
    text-align: left;
    font-size:40px;
    margin-top: 50px;
}
.textO .text{
    margin-top: 50px;
    
}
.textO .text p{
    color: #767676 !important;
    font-size: 20px;
}
.textO .TextWithDate{
    color: #767676;
    font-style: italic;
}

.border-left{
    border-left: 3px solid #03e9f4;
    padding-left: 20px;
}

}



















/* VIDEO */


@media (max-width:794px){
    .vidos iframe{
        width: 100%;
    }
}















/*


MISSION



 */



 @media (max-width:1173px){
    .centerMission{
        width: 60%;
        margin: auto;
        margin-top: 100px;
    }
    .inlineMission{
        display: flex;
        flex-direction: column;
    }

    .nas{
        text-align: center;
        margin-top: 50px;

    }
    .vidos{
        text-align: center;
        margin-top: 50px;
    }
    .textM{
        padding-top: 30px;
    }
    .textM h1{
        font-size: 40px !important;
        text-transform: uppercase;
    }
    .textM p{
        color: #767676;
        font-size: 20px;
    }
    .buss img{
        width: 100%; 
        border-radius: 100%;
        transition: 0.4s;
    }
 }



@media (max-width:580px){
    .centerMission{
        width: 80%;
        margin: auto;
        margin-top: 100px;
    }
}

















/* GOAL */

@media (max-width:597px){
    .goalText {
        padding:50px;
        color: white;
        z-index: 10;
    }
    .goalText h1{
        font-size: 40px;
    }
    .goalText p{
        font-size:20px;
    }
}































/* 5 cards  */











@media (max-width:1136px){
    .cenInline .cart{
        width:400px;
        height: 320px;
        text-align: center;
        margin: 10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 30px 20px;
        transition: 0.7s;
        background-color:rgba(0,0,0,0.8) ;
    }
}



@media (max-width:968px){
    .cenInline .cart{
        width:300px;
        height: 320px;
        text-align: center;
        margin: 10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 30px 20px;
        transition: 0.7s;
        background-color:rgba(0,0,0,0.8) ;
    }
}



@media (max-width:757px){
    .cenInline .cart{
        width:270px;
        height: 320px;
        text-align: center;
        margin: 10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 30px 20px;
        transition: 0.7s;
        background-color:rgba(0,0,0,0.8) ;
    }
}


@media (max-width:694px){
    .cenInline .cart{
        width:100%;
        height: 320px;
        text-align: center;
        margin: 10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 30px 20px;
        transition: 0.7s;
        background-color:rgba(0,0,0,0.8) ;
    }
}



@media (max-width:355px){
    .cenInline .cart{
        width:100%;
        height: 400px;
        text-align: center;
        margin: 10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 30px 20px;
        transition: 0.7s;
        background-color:rgba(0,0,0,0.8) ;
    }
}

























/* FOOOTER */









@media (max-width:868px){
    .foot ol{
        margin: 0 0px;
        list-style: none;
    }
    
}

@media 
(max-width:867px)
{
    footer{
        background: rgba(0,0,0,.9);
    }
    .foot hr{
        border:1px solid gray !important;
    }
    .foot{
        padding-top: 30px;
        flex-direction: column;
    }
    .foot ol li a{
        color: gainsboro;
    }
    .foot ol li b{
        color: #03e9f4;
    }
    .polit ul{
        color: white;
    }
    .bolds{
        color: #03e9f4 !important;
    }
    .icons{
        display: flex;
        list-style: none;
    }
    .icons li{
        margin: 0 20px  !important;
        font-size: 20px;
  
}
.polit .icons li a{
    color: white;
  }
  .polit .icons li a:hover{
    color: #03e9f4;
  }
  
}

@media (max-width:398px){
    .polit ul li{
        color: white;
        font-size: 15px;
    }
}


@media (max-width:610px)
{
  .polit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



