@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&display=swap');


/* Body */


body{
  font-family: 'Brygada 1918', serif !important;
    margin: 0;
    padding: 0;
    width: 100%;
   
  
}

html{
    scroll-behavior: smooth;
}






/* NAV */










header{
  position: relative;
  z-index: 10;
}
nav ol{
  padding-top:2px;
}

header{
  position: relative;
}
header nav{
  position: absolute !important;
  width: 100% !important;
  background-color: rgba(0,0,0,0);
}

header nav li a{
  color: #fff !important;
}

.navbar-brand img{
  animation: rotate 5s linear infinite;
}
@keyframes rotate{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}
.actives{
  color: #03e9f4 !important;
}
.dropdown-menu{
  background: none !important;
  border:0 !important;

}
.dropdown-item:hover{
background: none !important;
}
.dropdown-item{
  padding:7px !important;
}
.navbar-nav .nav-item{
  margin: 0 0;
}

nav a{
  color: grey;
}

.nav-link{
  text-decoration: none;
  position:relative;
 
}
.nav-link:hover{

  transition-duration: 0.3s;
  color: #03e9f4 !important;
}
.containerFluid{
  width: 86% !important;
  margin: 0 auto;
  display: flex;
}


.navbar-dark .navbar-toggler{
  border:none;
}










/* ЗАДНИЙ ФОН ДВА МУЖИКА */





  .bannerContacts{
    background: url('/img/Новая папка/Контакты/contacts.jpg') top / cover;
    width: 100%;
    position: relative;
    height: 100vh;
  }
 
  .bannerContacts:before{
    background: rgba(0,0,0,.4);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
  }
  


.bannerText {
  display: flex;
  align-items: center;
  height: 80%;
}
.child{  
  color: white;
  border:1px solid white;
  width: 500px;
  padding: 20px;
  margin-left: -2px;
  transition: 0.3s;
}
.bannerText h1{
  position: relative;

}
.bannerText a{
  color: inherit;
  text-decoration: none;
}
.bannerText a:hover{
  color: inherit;
}
.child:hover{
  background: white;
  transition: 0.3s;
  color: black;
}
.bannerText h1{
  font-size: 50px !important;
}






  /* БЛОК ПО СВЯЗИ ДИЛЛЕРАМ */





  .diller{
    text-align: center;
    margin-top: 100px;
  }




  /* КОНТАКТНЫЕ И АДРЕСНЫЕ КАРТОЧКИ 5 ШТ */




  .contactsCenter{
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }
  .inlineContacts{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .inlineContacts .cards{
    margin: 0 15px;
    transition: 0.5s;
    border-radius: 10px;
  }
  .inlineContacts .cards  .fa-phone{
    color: gold;
  }
  .inlineContacts .cards  .fa-car{
    color: red;
  }
  .inlineContacts .cards  .fa-money-bill-alt{
    color: green;
  }
  .inlineContacts .cards  .fa-hand-holding-usd{
    color: purple;
  }
  .inlineContacts .cards  .fa-wrench{
    color: orange;
  }
  .inlineContacts .cards:hover{
    background-color: rgba(0,0,0,0.8);
    transition: 0.5s;
  }
  .inlineContacts .cards:hover h4{
    color: white;
  }
  .inlineContacts a{
    color: inherit;
    text-decoration: none;
  }
  .inlineContacts a:hover{
    color: inherit;
  }
  .cards{
    width: 200px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
  .icon{
    width: 100%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
  .cards h4{
    font-size: 20px;
  }
















  /* КАРТА И АДРЕСА */










  .mapsCenter{
    width: 80%;
    margin:  auto;
    margin-top: 150px;
  }
  .mapsInline{
    display: flex;
    justify-content: space-around;
  }

  .leftSide{
    display: flex;
    align-items: center;
  }
  .leftSide ul li{
    margin: 10px 0;
  }




















/* АВТОРИЗАЦИЯ */






.center{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  height: 100vh;
  }

.contBack{
  background: url('/img/Новая папка/Продукции/porductAuth.jpg') left / cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.contBack::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.login-box {
  width:600px;
  height: 450px;
  padding: 40px;
  position: relative;
  border-radius: 10px;
}
.login-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;  
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.login-box h2 {
  position: relative;
  margin: 0px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom:15px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom:15px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}


.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 5px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

















/* 
    FOOOTER

*/









.centerFooter{
  width: 95%;
  margin: 0 auto;
  margin-top: 100px;
}
  

.foot{
  display: flex;
  justify-content: center;
}
.foot ol{
  list-style: none;
}
.foot ol li a{
  color: black;
  text-decoration: none;
  font-weight: 300;
}
.foot a:hover{
  color:  #03e9f4;
}
.foot ol li{
  margin: 10px 0;
}
.foot ol b{
  font-size: 20px;
}
.polit{
  display: flex;
  justify-content: space-around;
}
.polit ol{
  display: flex;
}
.polit ul{
  list-style: none;
  font-size: 20px;
}
.polit ol li{

  list-style: none;
  margin: 0 20px;
}
.polit ol li a{
  color: black;
  text-decoration: none;
}
.polit .icons a:hover{
  color:  #03e9f4;
}
.bolds{
  font-weight: bolder !important;
}

.polit .icons{
  display: flex;
  list-style: none;
  padding-left: 0;
}
.polit .icons li{
  margin: 0 10px !important;
  font-size: 35px;
}
.polit .icons li a{
  color: black;
}

.polit .osoo{
  padding-top: 15px;
  
}














































































/* MEDIA ADAPTIVE */




/* NAV */




@media (max-width:1256px){
  .navbar-nav .nav-item{
      margin: 0 0px;
  }
  
}


@media (max-width:1199px){
  .containerFluid{
      width: 86% !important;
      margin: 0 auto;
      display: flex;
  }
  .navbar-nav .nav-item{
      margin: 0 -2px;
  }
}




@media (max-width:1110px){
  .navbar-nav .nav-item{
      margin: 0 1px;
  }
  .nav-link span{
      display: none;
  }
}


@media (max-width:1008px){
  .navbar-nav .nav-item{
      margin: 0 -2px;
  }

}

@media (max-width:991px){
  .containerFluid{
      width: 100% !important;
      margin: 0 auto;
      display: flex ;
  }
}

@media (max-width:320px){
  .collapse{
      background: rgba(0,0,0,.9);
      padding: 25px;
      transition: 0.5s;
      width: 100%;
  }
  .collapse ol li a span{
      display: block;
  }
  .collapse ol li .tel{
      display: flex;
  }

  .navbar-dark .navbar-toggler{
      border:none;
  }
}

@media (max-width:991px){
   .collapse{
      background: rgba(0,0,0,.9);
      padding: 25px;
      transition: 0.5s;
      width: 100%;
  }
  .collapse ol li a span{
      display: block;
  }
  .collapse ol li .tel{
      display: flex;
  }
}









/* BANNNNER */



@media (max-width:1050px)
{

.bannerText {
  display: flex;
  align-items: center;
  height: 80%;
}
.child{  
  color: white;
  border:1px solid white;
  width: 350px;
  padding: 10px;
  margin-left: -2px;
  transition: 0.3s;
}
.bannerText h1{
  position: relative;

}
.bannerText a{
  color: inherit;
  font-size: 30px;
  text-decoration: none;
}
}


@media (max-width:921px){
  .child{  
    color: white;
    border:1px solid white;
    width: 350px;
    padding: 10px;
    margin-left: -2px;
    transition: 0.3s;
    margin-top: 50px;
  }
}

@media (max-width:390px)
{
  .bannerText{
    justify-content: center;
    align-items: center;
  }
  .child{  
    color: white;
    border:0;
    transition: 0.3s;
    margin-top: 200px;
  }

  .bannerText a{
    color: inherit;
    font-size:20px;
    text-decoration: none;
    padding: 10px 10px;
    border:1px solid white;
  }
}


















/* CONNECT WITH CENTER */

@media (max-width:858px){
  .diller{
    padding: 0 20px;
  }
}



















/* 5 шт карточек */



@media (max-width:1145px){
  .inlineContacts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

  }
  .inlineContacts .cards{
    margin: 10px 15px;
    transition: 0.5s;
    border-radius: 10px;
  }

  .cards{
    width: 400px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
}


@media (max-width:1074px){
  .cards{
    width: 300px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
}



@media (max-width:824px){
  .cards{
    width: 270px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
}



@media (max-width:750px){
  .cards{
    width: 240px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
}

@media (max-width:674px){
  .cards{
    width: 210px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
}

@media (max-width:599px){
  .cards{
    width: 400px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
}


@media (max-width:438px){
  .cards{
    width: 300px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
}


@media (max-width:332px){
  .cards{
    width: 250px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
}














/* MAPS and ADRES  */



@media (max-width:1145px){
  .mapsInline{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  iframe{
    width:800px;
  }


  .mapsCenter{
    width: 80%;
    margin:  auto;
    margin-top: 50px;
  }
}





@media (max-width:1000px){
  iframe{
    width:600px;
  }
 
}



@media (max-width:674px){
  iframe{
    width:500px;
  }
}

@media (max-width:599px){
  iframe{
    width:400px;
  }
}


@media (max-width:438px){
  iframe{
    width:300px;
  }
}




































/* FOOOTER */









@media (max-width:868px){
  .foot ol{
      margin: 0 0px;
      list-style: none;
  }
  
}

@media 
(max-width:867px)
{
  footer{
      background: rgba(0,0,0,.9);
  }
  .foot hr{
      border:1px solid gray !important;
  }
  .foot{
      padding-top: 30px;
      flex-direction: column;
  }
  .foot ol li a{
      color: gainsboro;
  }
  .foot ol li b{
      color: #03e9f4;
  }
  .polit ul{
      color: white;
  }
  .bolds{
      color: #03e9f4 !important;
  }
  .icons{
      display: flex;
      list-style: none;
  }
  .icons li{
      margin: 0 20px  !important;
      font-size: 20px;

}
.polit .icons li a{
  color: white;
}
.polit .icons li a:hover{
  color: #03e9f4;
}

}


@media (max-width:610px)
{
  .polit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}





@media (max-width:398px){
  .polit ul li{
      color: white;
      font-size: 15px;
  }
}


