@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&display=swap');


/* Body */

body{
    font-family: 'Brygada 1918', serif !important;
}
body{

    margin: 0;
    padding: 0;
    width: 100%;
   
  
}
.dropdown-menu{
  background: none !important;
  border:0 !important;

}
nav ol{
  padding-top: 3px;
}
.dropdown-item:hover{
  background: none !important;
}
html{
    scroll-behavior: smooth;
}

.active{    
  
    color: gold !important;
}
.nav-link{
    text-decoration: none;
    position:relative;
}
.nav-link:hover{
    transition-duration: 0.3s;
    color: gold !important;
}
/* NAV */

.navbar-brand img{
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



nav a{
    color: white !important;
}

.dropdown-item{
  padding:7px !important;
}
.containerFluid{
    width: 82% !important;
    margin: 0 auto;
    display: flex;
}
.navbar-nav .nav-item{
    margin: 0 5px;
}

.icons{
  display: flex;
  list-style: none;
}
.icons li{
  margin: 0 10px !important;
  font-size: 25px;
}


/* Content contacts */



.backWhite{
    background-color: white;
 
}
.centerContacts{
    margin-top: 20px;
    padding: 100px;
    text-align: center;
}

/* BAnner contacts */

  .bannerContacts{
    background: url('/img/Новая папка/contacts.jpg') top / cover;
    width: 100%;
    position: relative;
    height: 100vh;
  }
 
  .bannerContacts:before{
    background: rgba(0,0,0,.4);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
  }


  .diller{
    text-align: center;
    margin-top: 100px;
  }

  .contactsCenter{
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }
  .inlineContacts{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .inlineContacts .cards{
    margin: 0 15px;
    transition: 0.5s;
    border-radius: 10px;
  }
  .inlineContacts .cards:hover{
    background-color: rgba(0,0,0,0.8);
    transition: 0.5s;
  }
  .inlineContacts .cards:hover h4{
    color: white;
  }
  .inlineContacts a{
    color: inherit;
    text-decoration: none;
  }
  .inlineContacts a:hover{
    color: inherit;
  }
  .cards{
    width: 200px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
  .icon{
    width: 100%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
  .cards h4{
    font-size: 20px;
  }
/* FORMSS */
.bannerText{  
  color: white;
  border:1px solid white;
  position: relative;
  width: 500px;
  padding: 20px;
  margin-top: 150px;
  margin-left: -2px;
  transition: 0.3s;
}
.bannerText a{
  color: inherit;
  text-decoration: none;
}
.bannerText a:hover{
  color: inherit;
}
.bannerText:hover{
  background: white;
  transition: 0.3s;
  color: black;
}
.bannerText h1{
  font-size: 50px !important;
}

.containers {
    display: flex;
    height: 80vh;
    margin-top: 100px;
  }
  .hidd{
    overflow: hidden;

  }
  .center{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    height: 100vh;
  }

  .contBack{
    background: url('/img/Новая папка/connect.jpg') left / cover;
    width: 100%;
    height: 100vh;
  }
  .login-box {
    width:60%;
    height: 100%;
    padding: 40px;
    position: relative;
    border-radius: 10px;
  }
  .login-box::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;  
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
  }
  .login-box h2 {
    position: relative;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
 
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  

  /* MAPS */



  .mapsCenter{
    width: 80%;
    margin:  auto;
    margin-top: 150px;
  }
  .mapsInline{
    display: flex;
    justify-content: space-around;
  }

  .leftSide{
    display: flex;
    align-items: center;
  }
  .leftSide ul li{
    margin: 10px 0;
  }





/* 
    FOOOTER

*/

footer{
    margin: 100px 0;
}

.centerFooter{
  width: 95%;
  margin: 0 auto;
  margin-top:100px;
}

.foot{
  display: flex;
  justify-content: center;
}
.foot ol{
  margin: 0 25px;
  list-style: none;
}
.foot ol li a{
  color: black;
  text-decoration: none;
  font-weight: 300;
}
.foot a:hover{
  color: red;
}
.foot ol li{
  margin: 10px 0;
}
.foot ol b{
  font-size: 20px;
}
.polit{
  display: flex;
  justify-content: space-between;
}
.polit ol{
  display: flex;
}
.polit ul{
  list-style: none;
  font-size: 20px;
}
.polit ol li{

  list-style: none;
  margin: 0 20px;
}
.polit ol li a{
  color: black;
  text-decoration: none;
}
.polit a:hover{
  color: red;
}
