@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
   
  
}
html{
    scroll-behavior: smooth;
}

.active{    
  
    color: gold !important;
}
.nav-link{
    text-decoration: none;
    position:relative;
}
.nav-link:hover{
    background-color: white;
    transition-delay: .3s;
    transition-duration: 0.3s;
    color: black !important;
}
.nav-link:before{
    content: '';
    top: 0;
    left: 0;
    position:absolute;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: 0.3s;
}

.nav-link:hover:before{
    width: 100%;
}

/* NAV */

.navbar-brand img{
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



nav a{
    color: white !important;
}


.containerFluid{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.navbar-nav .nav-item{
    margin: 0 10px;
}





/* Content contacts */



.backWhite{
    background-color: white;
 
}
.centerContacts{
    margin-top: 20px;
    padding: 100px;
    text-align: center;
}

/* BAnner contacts */

  .bannerContacts{
    background: url('/img/Новая папка/contacts.jpg') top / cover;
    width: 100%;
    position: relative;
    height: 100vh;
  }
 
  .bannerContacts:before{
    background: rgba(0,0,0,.4);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
  }


  .diller{
    text-align: center;
    margin-top: 100px;
  }

  .contactsCenter{
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }
  .inlineContacts{
    display: flex;

  }
  .inlineContacts .cards{
    margin: 0 15px;
  }
  .inlineContacts a{
    color: inherit;
    text-decoration: none;
  }
  .inlineContacts a:hover{
    color: inherit;
  }
  .cards{
    width: 200px;
    height: 200px;
    box-shadow: 0 5px 20px gainsboro;
    text-align: center;
  
  }
  .icon{
    width: 100%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
  .cards h4{
    font-size: 20px;
  }
/* FORMSS */
.bannerText{  
  color: white;
  border:1px solid white;
  position: relative;
  width: 500px;
  padding: 20px;
  margin-top: 150px;
  margin-left: -2px;
  transition: 0.3s;
}
.bannerText a{
  color: inherit;
  text-decoration: none;
}
.bannerText a:hover{
  color: inherit;
}
.bannerText:hover{
  background: white;
  transition: 0.3s;
  color: black;
}
.bannerText h1{
  font-size: 50px !important;
}

.containers {
    display: flex;
    height: 80vh;
    margin-top: 100px;
  }
  .hidd{
    overflow: hidden;

  }
  .left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
  }
  
  .right {
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url("/img/Новая папка/forms.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
 
  
  .header > h2 {
    margin: 0;
    color:brown;
  }
  
  .header > h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0,0,0,.4);
  }
  
  .form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .form > p {
    text-align: right;
  }
  
  .form > p > a {
    color: #000;
    font-size: 14px;
  }
  
  .form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
  }
  
  .form-field:focus {
    border-color: #0f7ef1;
  }
  
  .form > button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.9) 0%,brown 100%); 
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
  }
  
  .animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }
  
  .a1 {
    animation-delay: 2s;
  }
  
  .a2 {
    animation-delay: 2.1s;
  }
  
  .a3 {
    animation-delay: 2.2s;
  }
  
  .a4 {
    animation-delay: 2.3s;
  }
  
  .a5 {
    animation-delay: 2.4s;
  }
  
  .a6 {
    animation-delay: 2.5s;
  }
  
  @keyframes move {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-40px);
    }
  
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  
  @keyframes left {
    0% {
      opacity: 0;
      width: 0;
    }
  
    100% {
      opacity: 1;
      padding: 20px 40px;
      width: 440px;
    }
  }


  /* MAPS */



  .mapsCenter{
    width: 80%;
    margin:  auto;
    margin-top: 150px;
  }
  .mapsInline{
    display: flex;
    justify-content: space-around;
  }

  .leftSide{
    display: flex;
    align-items: center;
  }
  .leftSide ul li{
    margin: 10px 0;
  }





/* 
    FOOOTER

*/

footer{
    margin: 100px 0;
}

.centerFooter{
    width: 70%;
    margin: 0 auto;
}

.foot ul {
    display: flex;
    list-style: none;
}
.foot ul li{
    margin: 0 30px;
}
.foot ul li a{
    text-decoration: none;
    color: rgba(0,0,0,.8) ;
}
.foot{
    display: flex;
    justify-content: space-between;
}
.foot ol li{
    list-style: none;
}
.foot ol li a{
    text-decoration: none;
    color: rgba(0,0,0,.8) ;
}

/* footer - Secfooter */


.secFoot{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.secFoot ul{
    list-style: none;
}
.secFoot ol {
    display: flex;
}
.secFoot ol li{
    margin: 0 10px;
    list-style: none;
}
.secFoot ol li a{
    color: rgba(0,0,0,.8) ;
}

.secFoot ol li a:hover{
    color: red ;
}

