@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&display=swap');


/* Body */

body{
    font-family: 'Brygada 1918', serif !important;
    margin: 0;
    padding: 0;
    width: 100%;
  
}

html{
    scroll-behavior: smooth;
}



/* NAV */













header{
    position: relative;
    z-index: 10;
}
nav ol{
    padding-top:2px;
}

header{
    position: relative;
}
header nav{
    position: absolute !important;
    width: 100% !important;
    background-color: rgba(0,0,0,0);
}

header nav li a{
    color: #fff !important;
}

.navbar-brand img{
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.actives{
    color: #03e9f4 !important;
}
.dropdown-menu{
    background: none !important;
    border:0 !important;

}
.dropdown-item:hover{
background: none !important;
}
.dropdown-item{
    padding:7px !important;
}
.navbar-nav .nav-item{
    margin: 0 5px;
}

nav a{
    color: grey;
}

.nav-link{
    text-decoration: none;
    position:relative;
   
}
.nav-link:hover{

    transition-duration: 0.3s;
    color: #03e9f4 !important;
}
.containerFluid{
    width: 86% !important;
    margin: 0 auto;
    display: flex;
}
.navbar-nav .nav-item{
    margin: 0 5px;
}

.navbar-dark .navbar-toggler{
    border:none;
}












/* Карусели  */













.backs{
    background: url('/img/Новая папка/news.jpg') center / cover;
    width: 100%;
    height: 70vh;
    position: relative;
    text-align: center;
}
.backs h1{
    padding-top:130px;
    font-size: 70px !important;
    color: white;
    position: relative;
}
.back3 h1{
    padding-top:130px;
    font-size: 70px !important;
    color: white;
    position: relative;
}
.back3{
    background: url('/img/Новая папка/office.jpg') center / cover;
    width: 100%;
    height:60vh;
    position: relative;
    text-align: center;
}
.back3:before{
    width: 100%;
    height: 80vh;
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    left: 0;
    top: 0;
}
.back2:before{
    width: 100%;
    height: 80vh;
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    left: 0;
    top: 0;
}
.backs:before{
    width: 100%;
    height: 80vh;
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    left: 0;
    top: 0;
}
.par{
    width:200px;
    height: 200px;
}
.par img{
    width: 100%;
    height: 100%;
}







/* Карточки новости */






.news{
    width: 90%;
    margin:  auto;
    margin-top: 100px;
}
.generalNew{
    display: flex;
    justify-content: space-between;
}

.generalNew{
    border-left: 5px solid red;
    padding-left: 10px;
}
.generalNew a{
    color: black;
    text-decoration: none;
}
.centerNew{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.icons{
    display: flex;
    list-style: none;
}
.icons li{
    margin: 0 10px !important;
    font-size: 25px;
}
.inlineNews{
    display: flex;
    justify-content: center;
}
.inlineNews .cards{
    margin: 0 20px;
}
.cards{
    transition: 0.5s;
    box-shadow: 0 5px 20px gainsboro;
    width: 320px !important;
    height: 300px;
    position: relative;
}
.cards:hover{
    border-bottom: 3px solid red;
    transform: scale(1.1);
    transition: 0.5s;
}
.cards .imgcard img{
    width: 100%;
}
.cards-body{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.cards-body p:nth-child(1){
    color: grey;
}
.cards-body p:nth-child(2){
    font-size: 20px;
}.news{
    width: 90%;
    margin:  auto;
    margin-top: 100px;
}
.generalNew{
    display: flex;
    justify-content: space-between;
}

.generalNew{
    border-left: 5px solid red;
    padding-left: 10px;
}
.generalNew a{
    color: black;
    text-decoration: none;
}
.centerNew{
    width: 95%;
    margin: auto;
    margin-top: 50px;
}
.inlineNews{
    display: flex;
    flex-wrap: wrap;
}
.inlineNews .cards{
    margin: 20px 20px;
}
.cards{
    box-shadow: 0 5px 20px gainsboro;
    width: 400px;
    height: 500px;
    position: relative;
}
.cards:hover{
    border-bottom: 3px solid red;
}
.cards .imgcard img{
    width: 100%;
}
.cards-body{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.cards-body p:nth-child(1){
    color: grey;
}
.cards-body p:nth-child(2){
    font-size: 20px;
}



.cards-body a{
    margin: 20px 0 !important;
    padding: 10px 20px;
    color:white;
    text-decoration: none;
    background-color: crimson;
    border-radius:10px;
}
.cards-body a:hover{
    color: white;
}
.bt{
    text-align: right;
}











/* 
    FOOOTER

*/












.centerFooter{
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
}


.foot{
    display: flex;
    justify-content: center;
}
.foot ol{
    list-style: none;
}
.foot ol li a{
    color: black;
    text-decoration: none;
    font-weight: 300;
}
.foot a:hover{
    color:  #03e9f4;
}
.foot ol li{
    margin: 10px 0;
}
.foot ol b{
    font-size: 20px;
}
.polit{
    display: flex;
    justify-content: space-around;
}
.polit ol{
    display: flex;
}
.polit ul{
    list-style: none;
    font-size: 20px;
}
.polit ol li{

    list-style: none;
    margin: 0 20px;
}
.polit ol li a{
    color: black;
    text-decoration: none;
}
.polit .icons a:hover{
    color:  #03e9f4;
}
.bolds{
    font-weight: bolder !important;
}

.polit .icons{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.polit .icons li{
    margin: 0 10px !important;
    font-size: 35px;
}
.polit .icons li a{
    color: black;
}

.polit .osoo{
    padding-top: 15px;
    
}































































/* MEDIA ADAPTIVE */




/* NAV */




@media (max-width:1256px){
    .navbar-nav .nav-item{
        margin: 0 0px;
    }
    
}


@media (max-width:1199px){
    .containerFluid{
        width: 86% !important;
        margin: 0 auto;
        display: flex;
    }
    .navbar-nav .nav-item{
        margin: 0 -2px;
    }
}




@media (max-width:1110px){
    .navbar-nav .nav-item{
        margin: 0 1px;
    }
    .nav-link span{
        display: none;
    }
}


@media (max-width:1008px){
    .navbar-nav .nav-item{
        margin: 0 -2px;
    }

}

@media (max-width:991px){
    .containerFluid{
        width: 100% !important;
        margin: 0 auto;
        display: flex ;
    }
}

@media (max-width:320px){
    .collapse{
        background: rgba(0,0,0,.9);
        padding: 25px;
        transition: 0.5s;
        width: 100%;
    }
    .collapse ol li a span{
        display: block;
    }
    .collapse ol li .tel{
        display: flex;
    }

    .navbar-dark .navbar-toggler{
        border:none;
    }
}

@media (max-width:991px){
     .collapse{
        background: rgba(0,0,0,.9);
        padding: 25px;
        transition: 0.5s;
        width: 100%;
    }
    .collapse ol li a span{
        display: block;
    }
    .collapse ol li .tel{
        display: flex;
    }
}
