@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&display=swap');


/* Body */

body{
    font-family: 'Brygada 1918', serif !important;
    margin: 0;
    padding: 0;
    width: 100%;
  
}

html{
    scroll-behavior: smooth;
}






/* НАВИГАЦИЯ */





nav ol{
    padding-top:2px;
}


header nav{

    width: 100% !important;
    background-color: rgba(0,0,0,0);
}

header nav li a{
    color: grey !important;
}

.navbar-brand img{
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.actives{
    color: #03e9f4 !important;
}
.dropdown-menu{
    background: none !important;
    border:0 !important;

}
.dropdown-item:hover{
background: none !important;
}
.dropdown-item{
    padding:7px !important;
}


nav a{
    color: grey;
}

.nav-link{
    text-decoration: none;
   
}
.nav-link:hover{

    transition-duration: 0.3s;
    color: #03e9f4 !important;
}
.containerFluid{
    width: 86% !important;
    margin: 0 auto;
    display: flex;
}
.navbar-nav .nav-item{
    margin: 0 0;
}

.navbar-dark .navbar-toggler{
    border:none;
}



/* 

        НОВОСТИ

*/



.centerNew{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.inline div{
    margin:0 30px;
}
.inline .leftImg img{
    float: left;
    width: 650px;
    margin:20px;
}


.int{
    text-align: center;
    margin-top: 50px;
}





/* 
    FOOOTER

*/








.centerFooter{
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
}


.foot{
    display: flex;
    justify-content: center;
}
.foot ol{
    list-style: none;
}
.foot ol li a{
    color: black;
    text-decoration: none;
    font-weight: 300;
}
.foot a:hover{
    color:  #03e9f4;
}
.foot ol li{
    margin: 10px 0;
}
.foot ol b{
    font-size: 20px;
}
.polit{
    display: flex;
    justify-content: space-around;
}
.polit ol{
    display: flex;
}
.polit ul{
    list-style: none;
    font-size: 20px;
}
.polit ol li{

    list-style: none;
    margin: 0 20px;
}
.polit ol li a{
    color: black;
    text-decoration: none;
}
.polit .icons a:hover{
    color:  #03e9f4;
}
.bolds{
    font-weight: bolder !important;
}

.polit .icons{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.polit .icons li{
    margin: 0 10px !important;
    font-size: 35px;
}
.polit .icons li a{
    color: black;
}

.polit .osoo{
    padding-top: 15px;
    
}



















































/* ADAPTIVE */


@media (max-width:1195px){
    .centerNew{
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
    .inline{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .inline div{
        margin:0 30px;
    }
    .inline .leftImg img{
        width:100%;
        margin:20px;
    }
    
    
    .int{
        text-align: center;
        margin-top: 50px;
    }
}

@media (max-width:819px){
    .centerNew{
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
    
    .inline div{
        margin:0 0px;
    }
    .inline .leftImg img{
        width:100%;
        margin:0px;
    }
    
    
    .int{
        text-align: center;
        margin-top: 50px;
    }
    
}


















/* FOOOTER */









@media (max-width:868px){
    .foot ol{
        margin: 0 0px;
        list-style: none;
    }
    
}

@media 
(max-width:867px)
{
    footer{
        background: rgba(0,0,0,.9);
    }
    .foot hr{
        border:1px solid gray !important;
    }
    .foot{
        padding-top: 30px;
        flex-direction: column;
    }
    .foot ol li a{
        color: gainsboro;
    }
    .foot ol li b{
        color: #03e9f4;
    }
    .polit ul{
        color: white;
    }
    .bolds{
        color: #03e9f4 !important;
    }
    .icons{
        display: flex;
        list-style: none;
    }
    .icons li{
        margin: 0 20px  !important;
        font-size: 20px;
  
}
.polit .icons li a{
    color: white;
  }
  .polit .icons li a:hover{
    color: #03e9f4;
  }
  
}

@media (max-width:398px){
    .polit ul li{
        color: white;
        font-size: 15px;
    }
}


@media (max-width:610px)
{
  .polit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}




