@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&display=swap');


/* Body */


body{
     font-family: 'Brygada 1918', serif !important;
    margin: 0;
    padding: 0;
    width: 100%;

  
}
html{
    scroll-behavior: smooth;
}






/* NAV */










header{
    position: relative;
    z-index: 10;
}
nav ol{
    padding-top:2px;
}

header{
    position: relative;
}
header nav{
    position: absolute !important;
    width: 100% !important;
    background-color: rgba(0,0,0,0);
}

header nav li a{
    color: #fff !important;
}

.navbar-brand img{
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.actives{
    color: #03e9f4 !important;
}
.dropdown-menu{
    background: none !important;
    border:0 !important;

}
.dropdown-item:hover{
background: none !important;
}
.dropdown-item{
    padding:7px !important;
}
.navbar-nav .nav-item{
    margin: 0 0;
}

nav a{
    color: grey;
}

.nav-link{
    text-decoration: none;
    position:relative;
   
}
.nav-link:hover{

    transition-duration: 0.3s;
    color: #03e9f4 !important;
}
.containerFluid{
    width: 86% !important;
    margin: 0 auto;
    display: flex;
}
.navbar-nav .nav-item{
    margin: 0 0;
}

.navbar-dark .navbar-toggler{
    border:none;
}







/* Задний фон  */




.sertBanner{
    background: url("/img/Новая папка/Сертификаты/sertificats.jpg") center / cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.sertBanner:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}
.textS{
    height: 80%;
    display: flex;
    align-items: center;
}
.textS h1{
    color: white;
    position: relative;
    padding-left: 80px;
    font-size: 75px;
}




/* 
    БЛОКИ  СЕРТИФИКАТЫ И ТЕКСТА
*/




.paperBlock{
    width: 90%;
    margin: auto;
    margin-top: 150px;
}
.firstInline{
    display: flex;
    justify-content: space-around;
}
.secondInline{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}
.threeInline{
    display: flex;
    justify-content: space-around;
}
.left{
    padding-top: 50px;
}
.left h3{
    padding-bottom: 20px;
}
.left .aw{
    color: gold;
    font-size: 45px;
    text-align: center;
}
.left p{
    width: 500px;
}
.right img{
    box-shadow: 0 5px 20px black;

}






/* 
    FOOOTER

*/




.centerFooter{
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
}


.foot{
    display: flex;
    justify-content: center;
}
.foot ol{
    list-style: none;
}
.foot ol li a{
    color: black;
    text-decoration: none;
    font-weight: 300;
}
.foot a:hover{
    color:  #03e9f4;
}
.foot ol li{
    margin: 10px 0;
}
.foot ol b{
    font-size: 20px;
}
.polit{
    display: flex;
    justify-content: space-around;
}
.polit ol{
    display: flex;
}
.polit ul{
    list-style: none;
    font-size: 20px;
}
.polit ol li{

    list-style: none;
    margin: 0 20px;
}
.polit ol li a{
    color: black;
    text-decoration: none;
}
.polit .icons a:hover{
    color:  #03e9f4;
}
.bolds{
    font-weight: bolder !important;
}

.polit .icons{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.polit .icons li{
    margin: 0 10px !important;
    font-size: 35px;
}
.polit .icons li a{
    color: black;
}

.polit .osoo{
    padding-top: 15px;
    
}












































































/* MEDIA ADAPTIVE */




/* NAV */




@media (max-width:1256px){
    .navbar-nav .nav-item{
        margin: 0 0px;
    }
    
}


@media (max-width:1199px){
    .containerFluid{
        width: 86% !important;
        margin: 0 auto;
        display: flex;
    }
    .navbar-nav .nav-item{
        margin: 0 -2px;
    }
}




@media (max-width:1110px){
    .navbar-nav .nav-item{
        margin: 0 1px;
    }
    .nav-link span{
        display: none;
    }
}


@media (max-width:1008px){
    .navbar-nav .nav-item{
        margin: 0 -2px;
    }

}

@media (max-width:991px){
    .containerFluid{
        width: 100% !important;
        margin: 0 auto;
        display: flex ;
    }
}

@media (max-width:320px){
    .collapse{
        background: rgba(0,0,0,.9);
        padding: 25px;
        transition: 0.5s;
        width: 100%;
    }
    .collapse ol li a span{
        display: block;
    }
    .collapse ol li .tel{
        display: flex;
    }

    .navbar-dark .navbar-toggler{
        border:none;
    }
}

@media (max-width:991px){
     .collapse{
        background: rgba(0,0,0,.9);
        padding: 25px;
        transition: 0.5s;
        width: 100%;
    }
    .collapse ol li a span{
        display: block;
    }
    .collapse ol li .tel{
        display: flex;
    }
}











/* BANNNER */


@media (max-width:866px)
{
    .textS{
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .textS h1{
        color: white;
        position: relative;
        padding-left: 0px !important;
        font-size: 75px;
    }
    
    
}


@media (max-width:597px){
    .textS h1{
        color: white;
        position: relative;
        padding-left: 0px !important;
        font-size: 50px;
    }
    
}

@media (max-width:406px){
    .sertBanner{
        height: 70vh;
    }

    .textS h1{
        color: white;
        position: relative;
        padding-left: 0px !important;
        font-size: 30px;
    }
}















/* SERTIFICATES */








@media (max-width:1068px){
    .firstInline{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .left p{   
        width: 100%; 
    }
    .left {
        text-align: center;
    }

    .paperBlock{
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }

    .secondInline{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .threeInline{
        margin-top: 150px;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
}


@media (max-width:681px){
    .right img{
        width: 100%;
    }
}











































/* FOOOTER */









@media (max-width:868px){
    .foot ol{
        margin: 0 0px;
        list-style: none;
    }
    
}

@media 
(max-width:867px)
{
    footer{
        background: rgba(0,0,0,.9);
    }
    .foot hr{
        border:1px solid gray !important;
    }
    .foot{
        padding-top: 30px;
        flex-direction: column;
    }
    .foot ol li a{
        color: gainsboro;
    }
    .foot ol li b{
        color: #03e9f4;
    }
    .polit ul{
        color: white;
    }
    .bolds{
        color: #03e9f4 !important;
    }
    .icons{
        display: flex;
        list-style: none;
    }
    .icons li{
        margin: 0 20px  !important;
        font-size: 20px;
  
}
.polit .icons li a{
    color: white;
  }
  .polit .icons li a:hover{
    color: #03e9f4;
  }
  
}

@media (max-width:398px){
    .polit ul li{
        color: white;
        font-size: 15px;
    }
}


@media (max-width:610px)
{
  .polit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



