@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&display=swap');


/* Body */


body{
     font-family: 'Brygada 1918', serif !important;
    margin: 0;
    padding: 0;
    width: 100%;

  
}
html{
    scroll-behavior: smooth;
}






/* NAV */





header{
    position: relative;
    z-index: 10;
}
header nav{
    position: absolute !important;
    width: 100% !important;
    background-color: rgba(0,0,0,0);
}

header nav li a{
    color: #fff !important;
}




.active{    
  
    color: gold !important;
}
.nav-link{
    text-decoration: none;
    position:relative;
}
.nav-link:hover{
    transition-duration: 0.3s;
    color: gold !important;
}
nav ol{
    padding-top: 5px;
}

.navbar-brand img{
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



nav a{
    color: white !important;
}


.containerFluid{
    width: 85% !important;
    margin: 0 auto;
    display: flex;
}
.navbar-nav .nav-item{
    margin: 0 5px;
}
.dropdown-item{
    padding:7px !important ;
}


.dropdown-menu{
    background: none !important;
    border:0 !important;
  
  }
  .dropdown-item:hover{
    background: none !important;
  }




/* Задний фон старик */




.sertBanner{
    background: url("/img/Новая папка/sertB.jpg") center / cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.sertBanner:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}
.textS{
    height: 80%;
    display: flex;
    align-items: center;
}
.textS h1{
    color: white;
    position: relative;
    padding-left: 80px;
}
.textS h1{
    font-size: 75px ;

}



/* 
    БЛОКИ  СЕРТИФИКАТЫ И ТЕКСТА
*/




.paperBlock{
    width: 90%;
    margin: auto;
    margin-top: 150px;
}
.firstInline{
    display: flex;
    justify-content: space-around;
}
.secondInline{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}
.left{
    padding-top: 50px;
}
.left h3{
    padding-bottom: 20px;
}
.left .aw{
    color: gold;
    font-size: 45px;
    text-align: center;
}
.left p{
    width: 500px;
}
.right img{
    box-shadow: 0 5px 20px black;

}






/* 
    FOOOTER

*/






.icons{
    display: flex;
    list-style: none;
}
.icons li{
    margin: 0 10px !important;
    font-size: 25px;
}

footer{
    margin: 100px 0;
}

.centerFooter{
    width: 95%;
    margin: 0 auto;
}

.foot{
    display: flex;
    justify-content: center;
}
.foot ol{
    margin: 0 25px;
    list-style: none;
}
.foot ol li a{
    color: black;
    text-decoration: none;
    font-weight: 300;
}
.foot a:hover{
    color: red;
}
.foot ol li{
    margin: 10px 0;
}
.foot ol b{
    font-size: 20px;
}
.polit{
    display: flex;
    justify-content: space-between;
}
.polit ol{
    display: flex;
}
.polit ul{
    list-style: none;
    font-size: 20px;
}
.polit ol li{

    list-style: none;
    margin: 0 20px;
}
.polit ol li a{
    color: black;
    text-decoration: none;
}
.polit a:hover{
    color: red;
}